.body_background 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width: 5px;
    border-style: ridge; 
    background-image: "BirthdayImage.jpg"; 
}

body
{
    text-align: center;
}